[submodule "Plugins/Source/AdvancedTooltip"]
	path = Plugins/Source/AdvancedTooltip
	url = https://github.com/IlliumIv/AdvancedTooltip
[submodule "Plugins/Source/AdvancedUberLabLayout"]
	path = Plugins/Source/AdvancedUberLabLayout
	url = https://github.com/IlliumIv/AdvancedUberLabLayout
[submodule "Plugins/Source/Aim-Bot"]
	path = Plugins/Source/Aim-Bot
	url = https://github.com/IlliumIv/Aim-Bot
[submodule "Plugins/Source/AutoOpen"]
	path = Plugins/Source/AutoOpen
	url = https://github.com/IlliumIv/AutoOpen
[submodule "Plugins/Source/AutoQuit"]
	path = Plugins/Source/AutoQuit
	url = https://github.com/IlliumIv/AutoQuit
[submodule "Plugins/Source/AutoSkill"]
	path = Plugins/Source/AutoSkill
	url = https://github.com/IlliumIv/AutoSkill
[submodule "Plugins/Source/BasicFlaskRoutine"]
	path = Plugins/Source/BasicFlaskRoutine
	url = https://github.com/IlliumIv/BasicFlaskRoutine
[submodule "Plugins/Source/BladeFlurryCharges"]
	path = Plugins/Source/BladeFlurryCharges
	url = https://github.com/IlliumIv/BladeFlurryCharges
[submodule "Plugins/Source/BroodyHen"]
	path = Plugins/Source/BroodyHen
	url = https://github.com/IlliumIv/BroodyHen
[submodule "Plugins/Source/BuffUtil"]
	path = Plugins/Source/BuffUtil
	url = https://github.com/IlliumIv/BuffUtil
	branch = community
[submodule "Plugins/Source/Character-Data"]
	path = Plugins/Source/Character-Data
	url = https://github.com/IlliumIv/Character-Data
[submodule "Plugins/Source/copilot"]
	path = Plugins/Source/copilot
	url = https://github.com/IlliumIv/copilot
[submodule "Plugins/Source/DeliriumSpawnerHighlight"]
	path = Plugins/Source/DeliriumSpawnerHighlight
	url = https://github.com/IlliumIv/DeliriumSpawnerHighlight
[submodule "Plugins/Source/Delve"]
	path = Plugins/Source/Delve
	url = https://github.com/IlliumIv/Delve
[submodule "Plugins/Source/DelveWalls"]
	path = Plugins/Source/DelveWalls
	url = https://github.com/IlliumIv/DelveWalls
[submodule "Plugins/Source/DevTree"]
	path = Plugins/Source/DevTree
	url = https://github.com/IlliumIv/DevTree
[submodule "Plugins/Source/DPSMeter"]
	path = Plugins/Source/DPSMeter
	url = https://github.com/IlliumIv/DPSMeter
[submodule "Plugins/Source/EliteBar"]
	path = Plugins/Source/EliteBar
	url = https://github.com/IlliumIv/EliteBar
[submodule "Plugins/Source/EssenceDrainContagion"]
	path = Plugins/Source/EssenceDrainContagion
	url = https://github.com/IlliumIv/EssenceDrainContagion
[submodule "Plugins/Source/Exertion"]
	path = Plugins/Source/Exertion
	url = https://github.com/IlliumIv/Exertion
[submodule "Plugins/Source/EZVendor"]
	path = Plugins/Source/EZVendor
	url = https://github.com/IlliumIv/EZVendor
[submodule "Plugins/Source/FollowerV2"]
	path = Plugins/Source/FollowerV2
	url = https://github.com/IlliumIv/FollowerV2
	branch = community
[submodule "Plugins/Source/FullRareSetManager"]
	path = Plugins/Source/FullRareSetManager
	url = https://github.com/IlliumIv/FullRareSetManager
[submodule "Plugins/Source/GemUp"]
	path = Plugins/Source/GemUp
	url = https://github.com/IlliumIv/GemUp
[submodule "Plugins/Source/Get-Chaos-Value"]
	path = Plugins/Source/Get-Chaos-Value
	url = https://github.com/IlliumIv/Get-Chaos-Value
	branch = community
[submodule "Plugins/Source/HarvestHelpers"]
	path = Plugins/Source/HarvestHelpers
	url = https://github.com/IlliumIv/HarvestHelpers
[submodule "Plugins/Source/HealthBars"]
	path = Plugins/Source/HealthBars
	url = https://github.com/IlliumIv/HealthBars
[submodule "Plugins/Source/HeistIcons"]
	path = Plugins/Source/HeistIcons
	url = https://github.com/IlliumIv/HeistIcons
[submodule "Plugins/Source/HighlightedItems"]
	path = Plugins/Source/HighlightedItems
	url = https://github.com/IlliumIv/HighlightedItems
[submodule "Plugins/Source/IconsBuilder"]
	path = Plugins/Source/IconsBuilder
	url = https://github.com/IlliumIv/IconsBuilder
[submodule "Plugins/Source/IncursionHelpers"]
	path = Plugins/Source/IncursionHelpers
	url = https://github.com/IlliumIv/IncursionHelpers
[submodule "Plugins/Source/InventoryItemsAnalyzer"]
	path = Plugins/Source/InventoryItemsAnalyzer
	url = https://github.com/IlliumIv/InventoryItemsAnalyzer
[submodule "Plugins/Source/ItemAlert"]
	path = Plugins/Source/ItemAlert
	url = https://github.com/IlliumIv/ItemAlert
[submodule "Plugins/Source/ItemVisualizer"]
	path = Plugins/Source/ItemVisualizer
	url = https://github.com/IlliumIv/ItemVisualizer
[submodule "Plugins/Source/KillCounter"]
	path = Plugins/Source/KillCounter
	url = https://github.com/IlliumIv/KillCounter
[submodule "Plugins/Source/MapNotify"]
	path = Plugins/Source/MapNotify
	url = https://github.com/IlliumIv/MapNotify
[submodule "Plugins/Source/MapsExchange"]
	path = Plugins/Source/MapsExchange
	url = https://github.com/IlliumIv/MapsExchange
	branch = community
[submodule "Plugins/Source/MinimapIcons"]
	path = Plugins/Source/MinimapIcons
	url = https://github.com/IlliumIv/MinimapIcons
[submodule "Plugins/Source/MiscInformation"]
	path = Plugins/Source/MiscInformation
	url = https://github.com/IlliumIv/MiscInformation
[submodule "Plugins/Source/OnlyGoodMaps"]
	path = Plugins/Source/OnlyGoodMaps
	url = https://github.com/IlliumIv/OnlyGoodMaps
[submodule "Plugins/Source/PassiveSkillTreePlanter"]
	path = Plugins/Source/PassiveSkillTreePlanter
	url = https://github.com/IlliumIv/PassiveSkillTreePlanter
[submodule "Plugins/Source/Pickit"]
	path = Plugins/Source/Pickit
	url = https://github.com/IlliumIv/Pickit
	branch = community
[submodule "Plugins/Source/PreloadAlert"]
	path = Plugins/Source/PreloadAlert
	url = https://github.com/IlliumIv/PreloadAlert
	branch = community
[submodule "Plugins/Source/Prophet"]
	path = Plugins/Source/Prophet
	url = https://github.com/IlliumIv/Prophet
[submodule "Plugins/Source/ProximityAlert"]
	path = Plugins/Source/ProximityAlert
	url = https://github.com/IlliumIv/ProximityAlert
[submodule "Plugins/Source/Random Features"]
	path = Plugins/Source/Random Features
	url = https://github.com/IlliumIv/Random-Features
[submodule "Plugins/Source/ScourgeArrowCharges"]
	path = Plugins/Source/ScourgeArrowCharges
	url = https://github.com/IlliumIv/ScourgeArrowCharges
[submodule "Plugins/Source/ShowThemAll"]
	path = Plugins/Source/ShowThemAll
	url = https://github.com/IlliumIv/ShowThemAll
[submodule "Plugins/Source/SkillDPS"]
	path = Plugins/Source/SkillDPS
	url = https://github.com/IlliumIv/SkillDPS
[submodule "Plugins/Source/SpectreBodies"]
	path = Plugins/Source/SpectreBodies
	url = https://github.com/IlliumIv/SpectreBodies
[submodule "Plugins/Source/Stashie"]
	path = Plugins/Source/Stashie
	url = https://github.com/IlliumIv/Stashie
[submodule "Plugins/Source/Tradie"]
	path = Plugins/Source/Tradie
	url = https://github.com/IlliumIv/Tradie
[submodule "Plugins/Source/UnstackDecks"]
	path = Plugins/Source/UnstackDecks
	url = https://github.com/IlliumIv/UnstackDecks
	branch = community
[submodule "Plugins/Source/VmsHelper"]
	path = Plugins/Source/VmsHelper
	url = https://github.com/IlliumIv/VmsHelper
[submodule "Plugins/Source/XpBar"]
	path = Plugins/Source/XpBar
	url = https://github.com/IlliumIv/XpBar
[submodule "Plugins/Source/Alpha"]
	path = Plugins/Source/Alpha
	url = https://github.com/IlliumIv/Alpha
[submodule "Plugins/Source/MineDetonator"]
	path = Plugins/Source/MineDetonator
	url = https://github.com/IlliumIv/MineDetonator